body{
    background: #f2f2f2;
}
main {
    max-width: 82.5%;
    margin: auto;
}
h1 {
    margin: 0;
    padding: 0;
}
.prepare {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}
.gooey{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 142px;
  height: 40px;
  margin: -20px 0 0 -71px;
  background: white;
  filter: contrast(20);
}
.gooey .dot{
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    filter: blur(4px);
    background: #000;
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 2.8s infinite;
}
.gooey .dots{
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 2.8s infinite;
}
.gooey .dots span {
      display: block;
      float: left;
      width: 16px;
      height: 16px;
      margin-left: 16px;
      filter: blur(4px);
      background: #000;
      border-radius: 50%;
  }

@keyframes dot{
  50%{
    transform: translateX(96px);
    }
}
@keyframes dots{
  50%{
    transform: translateX(-31px);
}
}
.bottom__cookie-block{
    padding-top: 0;
    width: 100%;
    height: 48px;
    background-color: #ffffff;
    /*display: none;*/
    position: fixed;
    bottom: 0;
    z-index: 10000;
    text-align: center;
    -webkit-transform: translateZ(0);
    opacity: 0.9;
}
.out  {
  text-decoration: none;
  color: #2b0073;
}
.out:hover {
  text-decoration: underline;
}
.p_cook{
  display: inline-block;
  font-family: 'Roboto', sans-serif;

}
.qq {
    color: #410066; 
    font-size: 20px;
}